Repository canonical/mysql-operator, pull requests merged in 2025-07, with the labels that each got.

#650 [DPE-7648] Fix access to not populated instance label
  lib/charms/mysql/v0/mysql.py
Labels: bug, Libraries: Out of sync

#651 [MISC] Fix: password-less runner auth with spread
  spread.yaml
Labels: not bug or enhancement, Libraries: Out of sync

#642 feat: [DPE-7404] manual primary switchover
  actions.yaml
  lib/charms/mysql/v0/async_replication.py
  lib/charms/mysql/v0/mysql.py
  poetry.lock
  pyproject.toml
  src/charm.py
  src/mysql_vm_helpers.py
  tests/integration/conftest.py
  tests/integration/high_availability/test_async_replication.py
  tests/integration/high_availability/test_primary_switchover.py
  tests/spread/test_primary_switchover.py/task.yaml
  tests/unit/test_async_replication.py
Labels: enhancement, Libraries: Out of sync

#661 [MISC] Port MySQL operator to Python 3.10+
  src/charm.py
  src/config.py
  src/mysql_vm_helpers.py
  src/relations/db_router.py
  tests/integration/helpers.py
  tests/integration/high_availability/high_availability_helpers.py
  tests/integration/high_availability/test_async_replication.py
  tests/integration/high_availability/test_primary_switchover.py
  tests/integration/relations/test_db_router.py
  tests/integration/relations/test_shared_db.py
Labels: not bug or enhancement, Libraries: Out of sync
